<% include includes/header.ejs %>
  <div data-ng-view id="container">
  </div>
  <div class="welcome">
    <% if (user) { %>
      Welcome <%= user.username %>
      (<a href='/logout'>logout</a>)
    <% } else { %>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    <% } %>
    <button id="goFull" class="btn">Fullscreen</button>
  </div>
<% include includes/footer.ejs %>
