<% include includes/header.ejs %>
  <div class="login">
  <h1>Register Page</h1>
  <form action='/register' method="post">
    <input class="input" type='text' name='username' placeholder='Username' />
    <input class="input" type='password' name='password' placeholder='Password' />
    <input class="btn" type='submit' value='Register' />
  </form>
<% include includes/footer.ejs %>
