body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

#gameCanvas

#user-list
  list-style none
  display inline-block
  padding 0
  li
    color red
  li.self
    color blue

#chatWindow
  height 450px
  width 250px
  border-style solid
  border-color black
  position relative
  float right

.innerContainer
  width 860px

.chatInput
  position relative
  top 425px
  left 5px