body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

#gameCanvas

#user-list
  list-style none
  display inline-block
  padding 0
  li
    color red
  li.self
    color blue
