body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

.innerContainer
  width 900px
  height 1000px

#gameCanvas
  position relative
  float left

#user-list
  list-style none
  display inline-block
  padding 0
  li
    color red
  li.self
    color blue

.chatContainer
  display block
  position relative
  float right
  height 450px
  width 260px

.chatWindow
  display block
  height 430px
  width 258px
  padding 0 5px 0 5px
  background-color #F8F8F8
  overflow-y scroll

.chatTime
  font-size 75%
  color #707070