body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#gameCanvas,
#user-list {
  list-style: none;
  display: inline-block;
  padding: 0;
}
#gameCanvas li,
#user-list li {
  color: #f00;
}
#gameCanvas li.self,
#user-list li.self {
  color: #00f;
}
#chatWindow {
  height: 450px;
  width: 250px;
  border-style: solid;
  border-color: #000;
  position: relative;
  float: right;
}
.innerContainer {
  width: 860px;
}
.chatInput {
  position: relative;
  top: 425px;
  left: 5px;
}
