body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#gameCanvas,
#user-list {
  list-style: none;
  display: inline-block;
  padding: 0;
}
#gameCanvas li,
#user-list li {
  color: #f00;
}
#gameCanvas li.self,
#user-list li.self {
  color: #00f;
}
