body {
  background: #333;
  color: #fff;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
a {
  color: #00b7ff;
}
.login {
  margin: 5%;
}
.login h1 {
  color: #00b7ff;
}
#container {
  width: 486px;
  margin: 5% auto 0;
}
@media screen and (max-width: 599px) {
  #container {
    margin: 0;
  }
}
.welcome {
  background: #333;
  width: 490px;
  top: 320px;
  color: #fff;
  margin: 0 auto;
}
@media screen and (max-width: 599px) {
  .welcome {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 380px;
    background-color: rgba(200,200,200,0.8);
  }
}
.innerContainer {
  width: 485px;
  height: 325px;
  background: #333;
}
#gameCanvas {
  position: absolute;
  z-index: 1;
  float: left;
}
#user-list {
  list-style: none;
  display: inline-block;
  padding: 0;
}
#user-list li {
  color: #f00;
}
#user-list li.self {
  color: #00f;
}
.chatContainer {
  z-index: 1;
  display: block;
  position: relative;
  float: right;
  height: 280px;
  width: 100px;
}
#chat {
  color: #34495e;
  display: block;
  padding: 0 5px 0 5px;
  background-color: #f8f8f8;
  overflow-y: scroll;
  word-wrap: break-word;
  border-radius: 10px;
  height: 265px;
}
#chat,
.chatInputContainer {
  width: 100px;
}
@media screen and (min-width: 550px) {
  #chat,
  .chatInputContainer {
    width: 150px;
  }
}
@media screen and (min-width: 590px) {
  #chat,
  .chatInputContainer {
    width: 190px;
  }
}
@media screen and (min-width: 900px) {
  #chat,
  .chatInputContainer {
    width: 300px;
  }
}
@media screen and (min-width: 590px) {
  .chatInputContainer form .btn {
    float: right;
  }
}
.input {
  width: 100px;
  border: 2px solid #bdc3c7;
  color: #34495e;
  background-color: #fff !important;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 15px;
  padding: 2px;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
}
@media screen and (min-width: 590px) {
  .input {
    width: 190px;
  }
}
@media screen and (min-width: 900px) {
  .input {
    width: 300px;
  }
}
.chatInput:focus {
  border-color: #1abc9c;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn {
  width: 108px;
  border: none;
  color: #fff;
  font-size: 15px;
  background-color: #1abc9c;
  padding: 2px;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
}
.chatTime {
  font-size: 70%;
  color: #707070;
}
.red {
  color: #f00;
}
.blue {
  color: #00f;
}
#msg-date {
  color: #808080;
  font-size: 65%;
  position: relative;
  float: right;
  top: 5px;
}
#msg-name {
  font-weight: bold;
}
.chat-msg {
  font-size: 80%;
}
.avatar {
  height: 25px;
  width: 25px;
}
