<!DOCTYPE html>
<html data-ng-app="AUSapp">
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <script src="http://cdn.sockjs.org/sockjs-0.3.min.js"></script>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
