<!DOCTYPE html>
<html data-ng-app="AUSapp">
  <head>
    <title>AUS</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <script src="http://cdn.sockjs.org/sockjs-0.3.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/screenfull.js/1.0.4/screenfull.min.js"></script>
    <script type="text/javascript" src="js/phaser.min.js"></script>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
