<div id="home" class="innerContainer" ng-init="init()">

  <canvas id="gameCanvas"></canvas>

  <div class="chatContainer">

    <div class="chatWindow">
        <p ng-repeat="message in messages track by $index">
          <span class="chatName">{{ message.name }}</span>
          <span class="chatMessage">{{ message.messageBody }}</span>
          <span class="chatTime">({{ message.chatDate }})</span>
        </p>
    </div> <!-- /chatWindow -->

    <div class="chatInput">
      <form ng-submit="sendChat()">
        <input class="chatInput" size="28" type="text" ng-model="messageText" placeholder="Chat!" />
        <input class="chatSubmit" type="submit" value="Send"/>
      </form>
    </div>

  </div><!-- /chatContainer -->

</div><!-- /innerContainer -->

  <div id="myinfo">
    <input type="text" value="{{ myname }}" readonly="readonly" />
    <input type="number" value="{{ myx }}" readonly="readonly" />
    <input type="number" value="{{ myy }}" readonly="readonly" />
  </div><!-- /myInfo -->
