<div id="home" class="innerContainer" ng-init="init()">

  <div id="gameCanvas"></div>

  <div class="chatContainer">

    <div id="chatWindow">
        <p ng-repeat="message in messages track by $index">
          <img src="{{ avatarUrl[message.name] }}" height="40px" width="40px" />
          <span  id="msg-name" ng-class="{red: message.doChange == 'no', blue: message.doChange == 'yes'}">{{ message.name }}</span>:
          <span id="msg-body" ng-class="{red: message.doChange == 'no', blue: message.doChange == 'yes'}">{{ message.messageBody }}</span>
          <span id="msg-date" ng-class="{red: message.doChange == 'no', blue: message.doChange == 'yes'}">{{ message.chatDate }}</span>
        </p>
    </div> <!-- /chatWindow -->

    <div class="chatInput">
      <form ng-submit="sendChat()">
        <input class="chatInput" size="28" type="text" ng-model="messageText" placeholder="Chat!" />
        <input class="chatSubmit" type="submit" value="Send"/>
      </form>
    </div>

  </div><!-- /chatContainer -->

</div><!-- /innerContainer -->
